export PG_DUMP=/pglogs/backup/export
export PG_HOME=/pgdata/conf
PGRMAN_CATALOG=/pglogs/backup/pg_rman_backup_catalog
export PG_PORT=5432
{% if db_name is defined %}
export PG_DB={{ db_name }}
{% endif %}
