.include /lib/systemd/system/postgresql-{{ salt['pillar.get']('postgres:version') }}.service
[Service]
# Location of database directory
Environment=PGDATA={{ salt['pillar.get']('postgres:conf_dir') }}
