{% set postgressql_conf = salt['pillar.get']('postgres:postgressql_conf') %}
    #------------------------------------------------------------------------------
    # FILE LOCATIONS
    #------------------------------------------------------------------------------
    data_directory = '{{ salt['pillar.get']('postgres:conf_dir') }}'

    #------------------------------------------------------------------------------
    # CONNECTIONS AND AUTHENTICATION
    #------------------------------------------------------------------------------

    listen_addresses = '*' # listen on all interfaces
    port = 5432
    max_connections = {{ postgressql_conf.get('max_connections',50)  }}
    #------------------------------------------------------------------------------
    # RESOURCE USAGE (except WAL)
    #------------------------------------------------------------------------------

    shared_buffers  = {{ postgressql_conf.shared_buffers }}
    temp_buffers = {{ postgressql_conf.temp_buffers }}
    work_mem = {{ postgressql_conf.work_mem }}
    maintenance_work_mem = {{ postgressql_conf.maintenance_work_mem }}

    #------------------------------------------------------------------------------
    # WRITE AHEAD LOG
    #------------------------------------------------------------------------------

    wal_level = minimal
    archive_mode = off
    archive_command = ''
    synchronous_commit = off

    wal_buffers = -1
    checkpoint_timeout = 30min
    checkpoint_completion_target = 0.9
    max_wal_size = {{ postgressql_conf.max_wal_size }}
    min_wal_size = {{ postgressql_conf.min_wal_size }}

    #------------------------------------------------------------------------------
    # QUERY TUNING
    #------------------------------------------------------------------------------

    effective_cache_size = {{ postgressql_conf.effective_cache_size }}

    #------------------------------------------------------------------------------
    # ERROR REPORTING AND LOGGING
    #------------------------------------------------------------------------------

    log_destination = 'stderr'
    logging_collector = on
    log_directory   = '/pglogs/maintenance/log/server'
    log_filename    = 'server_logfile_%Y%m%d.log'
    log_truncate_on_rotation = off
    log_rotation_age  = 1d
    log_rotation_size = 0
    log_min_duration_statement = 60s
    log_checkpoints   = off
    log_connections   = off
    log_line_prefix = '%m [%p:%l] %u@%d '
    log_lock_waits  = on
    log_temp_files  = 0
    log_statement   = 'none'
    log_timezone = 'Europe/Zurich'

    #------------------------------------------------------------------------------
    # AUTOVACUUM PARAMETERS
    #------------------------------------------------------------------------------

    autovacuum = off
    autovacuum_freeze_max_age = 500000000

    #------------------------------------------------------------------------------
    # CLIENT CONNECTION DEFAULTS
    #------------------------------------------------------------------------------

    client_encoding 	= WIN1252
    temp_tablespaces  = 'temp'
    default_tablespace  = 'data'

    datestyle = 'german, dmy'
    timezone = 'Europe/Zurich'
    lc_messages = 'de_CH.UTF8'
    lc_monetary = 'de_CH.UTF8'
    lc_numeric = 'de_CH.UTF8'
    lc_time = 'de_CH.UTF8'
    default_text_search_config = 'pg_catalog.simple'
