
user nginx;
worker_processes {{ salt['pillar.get']('nginx:server:nginx_conf:worker:processes') }};
pid /run/nginx.pid;
events {
        worker_connections {{ salt['pillar.get']('nginx:server:nginx_conf:worker:connections') }};
        # multi_accept on;
}

http {

        ##
        # Basic Settings
        ##

        keepalive_timeout 65;
        types_hash_max_size 2048;

        server_names_hash_bucket_size 128;
        # server_name_in_redirect off;
	keepalive_requests 200000; include /etc/nginx/mime.types;
	send_timeout 15; default_type application/octet-stream;
	sendfile on;
	tcp_nopush on; ##
	tcp_nodelay on; # Logging Settings
	client_max_body_size 50M; ##
	client_body_buffer_size 100M;
	client_body_timeout 15; access_log /var/log/nginx/access.log;
	client_header_timeout 15; error_log /var/log/nginx/error.log;
	server_tokens       off;
        ##
        # Gzip Settings
        ##

        gzip on;
        gzip_disable "msie6";

        # gzip_vary on;
        # gzip_proxied any;
        # gzip_comp_level 6;
        # gzip_buffers 16 8k;
        # gzip_http_version 1.1;
        # gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

        ##
        # nginx-naxsi config
        ##
        # Uncomment it if you installed nginx-naxsi
        ##

        #include /etc/nginx/naxsi_core.rules;

        ##
        # nginx-passenger config
        ##
        # Uncomment it if you installed nginx-passenger
        ##

        #passenger_root /usr;
        #passenger_ruby /usr/bin/ruby;

{% if salt['pillar.get']('nginx:server:upstreams') is defined %}
	## Upstreams
	include /etc/nginx/upstream.conf;
{% endif %}

        ##
        # Virtual Host Configs
        ##

        include /etc/nginx/conf.d/*.conf;
        include /etc/nginx/sites-enabled/*.conf;
}
