{%- for upstream_name, backend in salt['pillar.get']('nginx:server:upstreams', {}).iteritems() %}
upstream {{ upstream_name }} {

{%- for backend_item in backend.servers %}
  server {{ backend_item }};
{%- endfor %}
}
{%- endfor %}
