[default]
access_key = {{ pillar['bastion_gpg']['s3']['access_key'] }}
secret_key = {{ pillar['bastion_gpg']['s3']['secret_key'] }}
host_base = {{ pillar['bastion']['s3']['host_base'] }}
host_bucket = {{ pillar['bastion']['s3']['host_bucket'] }}
bucket_location = {{ pillar['bastion']['s3']['bucket_location'] }}
use_https = True
check_ssl_certificate = True
check_ssl_hostname = True