#! /bin/bash
# Copy log files to S3 with server-side encryption enabled.
# Then, if successful, delete log files that are older than a day.
LOG_DIR={{ pillar['bastion']['config']['log_dir'] }}
# Bucket name
BUCKET={{ pillar['bastion']['s3']['bucket'] }}
LOG_PATH={{ pillar['bastion']['s3']['logs_path'] }}

s3cmd -m text/plain sync ${LOG_DIR}* s3://${BUCKET}/${LOG_PATH}/ && find $LOG_DIR* -mtime +1 -exec rm {} \;
