#!/bin/bash

# The file will log user changes
LOG_DIR={{ pillar['bastion']['config']['log_dir'] }}
LOG_FILE="${LOG_DIR}users_changelog.txt"
ACCESS_LOG_DIR="${LOG_DIR}access_log"

# Bucket name
BUCKET={{ pillar['bastion']['s3']['bucket'] }}
USER_PATH={{ pillar['bastion']['s3']['users_path'] }}

# The function returns the user name from the public key file name.
# Example: public-keys/sshuser.pub => sshuser
get_user_name () {
  echo "$1" | sed -e 's/.*\///g' | sed -e 's/\.pub//g'
}

# For each public key available in the S3 bucket
s3cmd ls --recursive s3://${BUCKET}/${USER_PATH}/  | awk '{ print $4 }' | grep ".pub" | grep -v "root|cloud-user" > ~/keys_retrieved_from_s3
while read line; do
  USER_NAME=$(get_user_name "$line")

  # Make sure the user name is alphanumeric
  if [[ "$USER_NAME" =~ ^[a-z][-a-z0-9]*$ ]]; then
    # Create a user account if it does not already exist
    cut -d: -f1 /etc/passwd | grep -qx $USER_NAME
    if [ $? -eq 1 ]; then
        if s3cmd ls --recursive s3://${BUCKET}/${USER_PATH}/ | grep "${USER_NAME}.2fa" > /dev/null;then
            /usr/sbin/adduser $USER_NAME
            /usr/sbin/usermod  -a -G {{ pillar['bastion']['config']['groups']['name'] }} $USER_NAME
            if [ ! -f /home/${USER_NAME}/.ssh ];then
                mkdir -p /home/${USER_NAME}/.ssh
            fi
            chown $USER_NAME:$USER_NAME /home/$USER_NAME/.ssh && \
            echo "$line" >> ~/keys_installed && \
            echo "`date --date="today" "+%Y-%m-%d %H-%M-%S"`: Creating user account for $USER_NAME ($line)" >> $LOG_FILE
            # Creating filter access log in rsysconfig
            if [ ! -f "/etc/rsyslog.d/access.${USER_NAME}.conf" ];then
                echo "\$template ${USER_NAME}_ACCESS_LOG_FILE,\"${ACCESS_LOG_DIR}/%\$YEAR%-%\$MONTH%_${USER_NAME}_access.log\"" > "/etc/rsyslog.d/${USER_NAME}_access_log.conf"
                echo ":msg, contains, \"ACCESS-${USER_NAME}:\" -?${USER_NAME}_ACCESS_LOG_FILE" >> "/etc/rsyslog.d/${USER_NAME}_access_log.conf"
                echo "& ~" >> "/etc/rsyslog.d/${USER_NAME}_access_log.conf"
                echo "\$template ${USER_NAME}_REJECT_LOG_FILE,\"${ACCESS_LOG_DIR}/%\$YEAR%-%\$MONTH%_${USER_NAME}_reject.log\"" >> "/etc/rsyslog.d/${USER_NAME}_access_log.conf"
                echo ":msg, contains, \"REJECT-${USER_NAME}:\" -?${USER_NAME}_REJECT_LOG_FILE" >> "/etc/rsyslog.d/${USER_NAME}_access_log.conf"
                echo "& ~" >> "/etc/rsyslog.d/${USER_NAME}_access_log.conf"
                systemctl restart rsyslog || service rsyslog restart
            fi
            if [ ! -f "/etc/rsyslog.d/access.cloud-user.conf" ];then
                echo "\$template cloud-user_ACCESS_LOG_FILE,\"${ACCESS_LOG_DIR}/%\$YEAR%-%\$MONTH%_cloud-user_access.log\"" > "/etc/rsyslog.d/cloud-user_access_log.conf"
                echo ":msg, contains, \"ACCESS-cloud-user:\" -?cloud-user_ACCESS_LOG_FILE" >> "/etc/rsyslog.d/cloud-user_access_log.conf"
                echo "& ~" >> "/etc/rsyslog.d/cloud-user_access_log.conf"
                echo "\$template cloud-user_REJECT_LOG_FILE,\"${ACCESS_LOG_DIR}/%\$YEAR%-%\$MONTH%_cloud-user_reject.log\"" >> "/etc/rsyslog.d/cloud-user_access_log.conf"
                echo ":msg, contains, \"REJECT-cloud-user:\" -?cloud-user_REJECT_LOG_FILE" >> "/etc/rsyslog.d/cloud-user_access_log.conf"
                echo "& ~" >> "/etc/rsyslog.d/cloud-user_access_log.conf"
                systemctl restart rsyslog || service rsyslog restart
             fi
        else
            echo "`date --date="today" "+%Y-%m-%d %H-%M-%S"`: Can't creating user account for $USER_NAME ($line) - There is no 2fa file" >> $LOG_FILE
        fi
    fi

    # Copy the public key and 2fa key from S3, if a user account was created
    # from this key
    if [ -f ~/keys_installed ]; then
      grep -qx "$line" ~/keys_installed
      if [ $? -eq 0 ]; then
        # public key
        s3cmd --force get $line /home/$USER_NAME/.ssh/authorized_keys
        chmod 600 /home/$USER_NAME/.ssh/authorized_keys
        chown $USER_NAME:$USER_NAME /home/$USER_NAME/.ssh/authorized_keys
        # 2fa key
        s3cmd --force get s3://${BUCKET}/${USER_PATH}/${USER_NAME}.2fa /home/$USER_NAME/.google_authenticator
        chmod 600 /home/$USER_NAME/.google_authenticator
        chown $USER_NAME:$USER_NAME /home/$USER_NAME/.google_authenticator
      fi
    fi

  fi
done < ~/keys_retrieved_from_s3

# Remove user accounts whose public key was deleted from S3
if [ -f ~/keys_installed ]; then
  sort -uo ~/keys_installed ~/keys_installed
  sort -uo ~/keys_retrieved_from_s3 ~/keys_retrieved_from_s3
  comm -13 ~/keys_retrieved_from_s3 ~/keys_installed | sed "s/\t//g" > ~/keys_to_remove
  while read line; do
    USER_NAME="`get_user_name "$line"`"
    echo "`date --date="today" "+%Y-%m-%d %H-%M-%S"`: Removing user account for $USER_NAME ($line)" >> $LOG_FILE
    /usr/sbin/userdel -r -f $USER_NAME
    rm -rf /etc/rsyslog.d/${USER_NAME}_access_log.conf
    systemctl restart rsyslog || service rsyslog restart
  done < ~/keys_to_remove
  comm -3 ~/keys_installed ~/keys_to_remove | sed "s/\t//g" > ~/tmp && mv ~/tmp ~/keys_installed
fi

# Set ACLS for user
set_acl ()
{
cat <<EOT > ~/iptables.txt
*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

EOT


USER_STATUS='false'
USER_UID_ARRAY=()
while read -r LINE;do
    if [[ "$LINE" == \[*] ]];then
        LINE=${LINE//[/}
        USER_NAME=${LINE//]/}
        if id -u ${USER_NAME} > /dev/null 2>&1;then
            USER_UID=$(id -u ${USER_NAME})
            USER_UID_ARRAY+=("${USER_UID}")
            USER_STATUS='true'
            echo "#Rule for ${USER_NAME}" >> ~/iptables.txt
        else
                USER_STATUS='false'
        fi
    elif [[ "${LINE}" == "*" && "${USER_STATUS}" == "true" ]];then
        echo "-A OUTPUT -m owner --uid-owner ${USER_UID} -j ACCEPT" -m comment --comment "\"Allow for ${USER_NAME}\""  >> ~/iptables.txt
    elif [[ "${LINE}" == *":"* && "${USER_STATUS}" == "true" ]];then
        PORT=$(echo ${LINE} | cut -d':' -f2) # 5439
        HOST=$(echo ${LINE} | cut -d':' -f1) # localhost
        #check domain name
        echo ${HOST} | grep -P "^[a-zA-Z0-9][a-zA-Z0-9-]{1,61}[a-zA-Z0-9](?:\.[a-zA-Z]{2,})+$" > /dev/null
        if [ $? -eq 0 ];then
                if nslookup "${HOST}" > /dev/null || getent hosts "${HOST}" > /dev/null ;then
                        echo "-A OUTPUT -m owner --uid-owner ${USER_UID} -p tcp --dport ${PORT} -d ${HOST} -j ACCEPT" -m comment --comment "\"Allow for ${USER_NAME}\"" >> ~/iptables.txt
                fi
        else
                echo "-A OUTPUT -m owner --uid-owner ${USER_UID} -p tcp --dport ${PORT} -d ${HOST} -j ACCEPT" -m comment --comment "\"Allow for ${USER_NAME}\"" >> ~/iptables.txt
        fi
     else
        HOST=${LINE}
        echo ${HOST} | grep -P "^[a-zA-Z0-9][a-zA-Z0-9-]{1,61}[a-zA-Z0-9](?:\.[a-zA-Z]{2,})+$" > /dev/null
        if [ $? -eq 0 ];then
                if nslookup "${HOST}" > /dev/null || getent hosts "${HOST}" > /dev/null ;then
                        echo "-A OUTPUT -m owner --uid-owner ${USER_UID} -d ${HOST} -j ACCEPT" -m comment --comment "\"Allow for ${USER_NAME}\"" >> ~/iptables.txt
                fi
        else
                echo "-A OUTPUT -m owner --uid-owner ${USER_UID} -d ${HOST} -j ACCEPT" -m comment --comment "\"Allow for ${USER_NAME}\"" >> ~/iptables.txt
        fi
    fi
done < ~/users.acl

echo "#Reject all output traffic for all users" >> ~/iptables.txt
for USER_UID in ${USER_UID_ARRAY[@]};do
        USER_NAME=$(id -nu ${USER_UID})
        echo "-I OUTPUT -m owner --uid-owner ${USER_UID} -j LOG --log-prefix \"ACCESS-${USER_NAME}: \" --log-level 6" >> ~/iptables.txt
        echo "-A OUTPUT -m owner --uid-owner ${USER_UID} -j LOG --log-prefix \"REJECT-${USER_NAME}: \" --log-level 4" >> ~/iptables.txt
        echo "-A OUTPUT -m owner --uid-owner ${USER_UID} -j REJECT" >> ~/iptables.txt
done

cat <<EOT >> ~/iptables.txt

COMMIT
EOT

/usr/sbin/iptables-restore < ~/iptables.txt
/usr/libexec/iptables/iptables.init save

}

ACL_PATH={{ pillar['bastion']['s3']['acl_path'] }}

if [ -f ~/users.acl ];then
    mv ~/users.acl ~/users.acl.old
    s3cmd --force get s3://${BUCKET}/${ACL_PATH}/users.acl ~/users.acl
    sed -i '/^[[:space:]]*$/d' ~/users.acl
    FILE_1=$(cat ~/users.acl)
    FILE_2=$(cat ~/users.acl.old)
    if [ "${FILE_1}" != "${FILE_2}" ];then
        set_acl
    fi
else
    s3cmd --force get s3://${BUCKET}/${ACL_PATH}/users.acl ~/users.acl
    sed -i '/^[[:space:]]*$/d' ~/users.acl
    set_acl
fi
